.container {
    display: grid;
    gap: 1.875rem;
    grid-template-columns: 25rem 1fr;
    margin: 2.5rem;
    flex: 1;

    #medical-record {
        display: flex;
        flex-direction: column;

        header {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 15px;
            margin-bottom: 30px;
        }
    }
}
