input {
    padding: 1rem;
    background: var(--white);
    border-radius: 0.5rem;

    color: rgb(47, 47, 47);

    font-size: 1.1rem;

    border: none;

    width: fit-content;

    outline: none;

    &::placeholder {
        color: rgb(187, 187, 187);
    }
}
