.container {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-radius: 1em 1rem 0 0;
    overflow: hidden;

    thead {
        color: var(--white);
        background: var(--gray-700);
        font-size: 1.2rem;
        padding: 10px;

        th {
            padding: 15px 0 15px 30px;
        }

        th:last-child {
            padding: 15px 30px;
        }
    }
    tbody {
        line-break: auto;
        color: var(--gray-700);
        height: 100%;

        td {
            padding: 15px 30px;
        }

        tr:hover {
            background: var(--gray-150);
            cursor: pointer;
        }
    }

    @media (max-width: 1200px) {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    color: var(--gray-700);

    h2 {
        color: var(--gray-300);
    }
}
