.container {
    display: flex;
    flex-direction: column;
    margin: 1.875rem;

    section {
        flex: 1;
    }

    #cards {
        display: flex;
        flex-wrap: wrap;

        span {
            flex: 1;
        }

        span {
            margin: 30px;
        }
    }
}
