.container {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    table-layout: fixed;

    thead {
        color: var(--white);
        background: var(--gray-700);
        font-size: 1.2rem;
        padding: 10px;

        th {
            padding: 15px 0 15px 30px;
        }
    }
    tbody {
        color: var(--gray-700);
        height: 100%;
        td {
            padding: 15px 30px;
        }

        tr:hover {
            background: var(--gray-150);
            cursor: pointer;
        }
    }

    @media (max-width: 870px) {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}
