@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --white: #fff;

    --red: rgb(255, 95, 95);
    --green: rgb(65, 230, 78);
    --orange: #ffa946;

    --blue-200: #0081cb;
    --blue-400: rgb(21, 75, 146);

    --gray-100: #f3f3f3;
    --gray-150: #ebe9e9;
    --gray-200: #dbdbdb;
    --gray-300: #c5c5c5;
    --gray-600: #666666;
    --gray-700: #545454;

    --cyan: rgb(98, 205, 255);
    --cyan-100: rgb(41, 187, 255);
    --cyan-200: #00c2cb;
    --cyan-300: #157992;
    --cyan-500: #158c92;
}

html {
    @media (max-width: 1080px) {
        font-size: 93.75%; //15px
    }

    @media (max-width: 720px) {
        font-size: 87.5%; //14ps
    }
}

body {
    background: var(--white);
    -webkit-font-smoothing: antialiased;
}

button {
    padding: 1rem;
    cursor: pointer;
    background: rgb(221, 221, 221);
    border-radius: 0.5rem;

    color: rgb(136, 136, 136);

    font-size: 1.2rem;
    font-weight: 600;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;

    transition: filter 0.2s;

    &:hover {
        filter: opacity(0.8);
    }

    &:active {
        filter: opacity(1);
    }

    &:disabled {
        filter: opacity(0.3);
        cursor: not-allowed;
    }

    width: fit-content;

    &.cyan {
        background: var(--cyan-200);
        color: var(--white);
    }
    &.red {
        background: var(--red);
        color: var(--white);
    }
    &.green {
        background: var(--green);
        color: var(--white);
    }
    &.black {
        background: var(--gray-700);
        color: var(--white);

        transition: all 0.2s;

        &:hover {
            filter: opacity(0.8);
            background: var(--red);
        }
    }
}

input,
textarea {
    padding: 1rem;
    background: var(--white);
    border-radius: 0.5rem;

    color: rgb(47, 47, 47);

    font-size: 1.1rem;

    border: none;

    width: fit-content;

    outline: none;

    &::placeholder {
        color: rgb(187, 187, 187);
    }

    &:disabled {
        filter: opacity(0.5);
    }
}

select {
    background: var(--white);
    border-radius: 0.5rem;
    padding: 0 1rem;

    color: rgb(47, 47, 47);

    font-size: 1.1rem;

    border: none;

    width: fit-content;

    outline: none;

    &::placeholder {
        color: rgb(187, 187, 187);
    }

    &:disabled {
        filter: opacity(0.5);
    }
}

//NOTE MODAL

.popup-content {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes anvil {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    1% {
        transform: scale(0.96) translateY(10px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
        box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
}

.popup-content {
    -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

#button-up-page {
    height: 50px;
    width: 50px;
    color: var(--gray-700);

    transition: filter 0.5s;

    &:hover {
        filter: opacity(0.8);
    }
}
