.container {
    background: var(--gray-700);
    border-radius: 0.9375rem;
    padding: 1.875rem;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    width: fit-content;

    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 0px 1px rgba(0, 0, 0, 0.04);

    transition: all 0.2s;

    p {
        margin-right: 15px;

        span {
            font-weight: bold;
        }
    }

    color: var(--white);

    &:hover {
        transform: scale(1.1);
    }
}
